.sidenav {
  background-color: #e6eeff;
  height: 100%;
  padding: 15px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #64b3f4;
  color: black;
  padding: 12px;
  opacity: 0.8;
}
.navbar-inverse{
  /*background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);*/
  background: #6666ff;
  border: none;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 570px}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

a {
  color: #000;
}
.navbar-inverse .btn-link {
  color: #000;
}

