/* Set gray background color and 100% height */
.sidenav {
  background-color: #c2e59c;
  height: 100%;
  padding: 15px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #64b3f4;
  color: black;
  padding: 12px;
  opacity: 0.8;
}
.navbar-inverse{
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 570px}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

a {
  color: #000;
}
.navbar-inverse .btn-link {
  color: #000;
}
/**************************************************************************/
/************pay************/

.btn-primary{
  background: #c2e59c;
  background: linear-gradient(to right, #64b3f4, #c2e59c);
  color: black;
}
form {
  margin-top: -20px;
}
/****************load money*******************/
.box {
  background-color: darkslategrey;
  width: 300px;
  border: 2px solid red;
  padding: 25px;
  margin: 25px;
}
ul li{
  display: inline-block;
}
.responstable {
  margin: 1em 0;
  width: 90%;
  overflow: hidden;
  background: #FFF;
  color: #676767;
  border-radius: 10px;
  border: 2px solid #167F92;
}
.responstable tr {
  border: 2px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #D9E4E6;
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 300px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 300px) {
  .responstable td {
    display: table-cell;
    padding: 1em;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}

.well-2
{
  background: none;
  border: none;
}

.well-1 {
  background-color: #1b1e24;
}
tbody {
  border: 1px solid black;
}

table, th, td {
  border-collapse: collapse;
  white-space: pre;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color:#fff;
}
table#t01 th {
  background-color: #96cec5;
  color: #000;
}
/************profile**************/
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}

